<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mathcalculator" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Mathcalculator</name>
    <js-module name="Mathcalculator" src="www/Mathcalculator.js">
        <clobbers target="Mathcalculator" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Mathcalculator">
                <param name="android-package" value="cordova.plugin.mathcalculator.Mathcalculator" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Mathcalculator.java" target-dir="src/cordova/plugin/mathcalculator/Mathcalculator" />
    </platform>
</plugin>